@import "../styles/constants.css";

.cart-page {
  padding: 20px;
}

.cart-items {
  list-style-type: none;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  max-width: 60vw;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 12px;
  background-color: var(--color-background);
  border: 1px solid black;
  border-radius: 4px;
}

.cart-item p {
  margin-left: 8px;
}

.cart-item button {
  background-color: var(--color-primary);
  color: var(--color-background);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.cart-item button:hover {
  background-color: var(--color-secondary);
}
