@import "../styles/constants.css";

.products {
  background-color: var(--color-background);
}

@media screen and (max-width: 640px) {
  .products {
    padding-top: 45px;
    text-align: center;
  }
}
