@import "../styles/constants.css";

.products {
  background-color: var(--color-background);
}

@media screen and (max-width: 640px) {
  .products h2 {
    padding-top: 60px;
    text-align: center;
  }
}
