@import "../styles/constants.css";

.breadcrumb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  margin-bottom: 15px;
}

.breadcrumb a {
  text-decoration: none;
  /*   color: #007bff; */
  color: var(--color-primary);
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb span {
  color: #6c757d;
  display: flex;
  align-items: center;
}

.breadcrumb span:not(:last-child)::after {
  content: "/";
  margin: 0 8px;
  color: var(--color-text-secondary);
}
